.color {
    background-color: #303666;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.color .item-color {
    color: rgb(206, 206, 206);
}

.color .item-color:hover {
    color: white;
}

.color .title-color{
    color: white;
    width: 20%;
}