body{
    background-color: #F7F7FF;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.dropdown{
    width: 300px;
    margin: 0 auto;
    position: relative;
    user-select: none;
}

.dropdown .dropdown-btn{
    padding: 15px 20px;
    background-color: #6692FF;
    color:white;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.dropdown .dropdown-content {
    position: absolute;
    top: 110%;
    left: 0;
    padding: 15px;
    background: white;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
    font-weight: bold;
    width: 100%;
}

.dropdown .dropdown-content .dropdown-item{
    padding: 10px;
    cursor: pointer;
    transition: all 0.2s;
}

.dropdown .dropdown-content .dropdown-item:hover {
    background: #7c9df0;
    color: white;
}

.table{
    margin-top: 50px;
}

.db-color{
    background-color: #6692FF;
}

.db-color:hover{
    background-color: #6692FF;
}