body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F7F7FF
  
  ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.form-control{
  background: rgb(255, 255, 255);
  border: 1px solid  #6692FF
  ;
  border-radius: 8px;
  padding: 10px 30px;
  width: 500px;
}
.container1{
  background: rgb(255, 255, 255);
  color: #000;
  
  border: 2px solid  #6692FF;
  border-radius: 12px;
  padding: 5px;
  max-width: 10cm;
}
.form-group1{
  font-size: 20pt;
  font-weight: bold;
  padding: 10px 130px;
  color:  #303666;
}
.form-group2{
  font-size: 10pt;
  font-weight: bold;
  padding: 10px 10px;
}

.img1{
  width: 700px;
  height: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  }
  .img2{
    width: 600px;
    height: 550px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
  .btn1{
    background: rgb(48,54,102);
background: linear-gradient(90deg, rgba(48,54,102,1) 0%, rgba(62,68,118,1) 35%);
    color: #ffffff;
    padding: 10px 100px;
    border: 2px solid  #6692FF;
  border-radius: 12px;
  position:relative;
  left: 100px;
  top: 30px;
  }
  .btn{
    background: #303666;
    color: #ffffff;
    padding: 10px 40px;
    border: 2px solid  #6692FF;
  border-radius: 12px;
 
  
  }
  .container2{
    height: 700px;
  }
  .col1{
    background:  #ffffff    ;
    width: 530px;
    height: 670px;
    border-radius: 12px;
  }
  .heading{
    padding: 5px 80px;
  }
  .heading1{
    padding: 5px 50px;
  }